{% extends 'base.html' %}

{% block title %} Schimbare parola {% endblock %}

{% block content %}

    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Parola schimbata</h2>
                    <hr class="divider"/>
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-4">
                <div class="card">
                <div class="card-body text-center">
                    <p>Felicitari, noua parola a fost inregistrata cu succes!</p>
                </div>
                    <div class="card-footer d-grid text-center justify-content-center">
                        <a href="{% url 'homepage' %}" class="btn btn-primary">Acasa</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}