{% extends 'base.html' %}

{% block title %} Detalii angajat {% endblock %}

{% block content %}

    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Detalii angajat </h2>
                    <hr class="divider"/>
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <div class="card text-center">
                    <div class="card-header">
                    <h4>{{ employee.first_name }} {{ employee.last_name }}</h4>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Functie: {{ employee.description }}</h6>
                        <p class="card-text">E-mail: {{ employee.email }}</p>
                        <a href="{% url 'lista-angajati' %}" class="btn btn-primary">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}