

{% extends 'base.html' %}

{% block title %} Update angajat {% endblock %}

{% block content %}

    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Update - {{ employee.first_name }} {{ employee.last_name }}</h2>
                    <hr class="divider"/>
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-4">
                <form method="post" id="contactForm">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <div class="form-floating mb-3">
                            {{ form.first_name }}
                            <label for="{{ form.first_name.id_for_label }}">Prenume</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">Prenumele este obligatoriu.
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.last_name }}
                            <label for="{{ form.last_name.id_for_label }}">Nume</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">Numele este obligatoriu.
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.email }}
                            <label for="{{ form.email.id_for_label }}">E-mail</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">Numele este obligatoriu.
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.description }}
                            <label for="{{ form.description.id_for_label }}">Functie</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">Numele este obligatoriu.
                            </div>
                        </div>
                        <div class="d-grid d-md-flex justify-content-md-center gap-3">
                            <button class="btn btn-primary"  id="submitButton" type="submit">Salveaza
                            </button>
                            <a href="{% url 'lista-angajati' %}" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}


